vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|31 Jan 2012 22:56:46 -0000
vti_extenderversion:SR|6.0.2.5516
vti_author:SR|Godil-PC\\Godil
vti_modifiedby:SR|DESKTOP-GODIL\\moazzam
vti_timecreated:TR|31 Jan 2012 10:56:46 -0000
vti_lineageid:SR|{99DD53E2-5070-4A84-976B-C139F2E2F05F}
vti_backlinkinfo:VX|
vti_cacheddtm:TX|31 Jan 2012 22:56:46 -0000
vti_filesize:IR|14159
