* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    background: whitesmoke;
}

.container {
    width: 60%;
    margin: 0 auto;
    box-shadow: 0px 0px 10px black;
}

.home-container {
    background: linear-gradient(140deg, rgb(87, 75, 87) 0%, rgb(204, 191, 204) 50%, lightyellow 75%);
    background-attachment: fixed;
    min-height: 100vh;
}

.title {
    color: black;
    border-bottom: 1px solid gray;
    box-shadow: 0px 0px 2px black;
    padding: 5px 0;
    background: linear-gradient(140deg, rgb(204, 191, 204) 0%, whitesmoke 50%, rgb(204, 191, 204) 100%);
    display: flex;
    width: 60%;
    align-items: center;
    position: fixed;
}

.title h1 {
    padding: 10px;
    display: flex;
    width: 50%;
}

.title .rightSide {
    padding: 10px;
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.contain {
    display: flex;
    /* overflow: hidden; */
    width: 100%;
}

.onlineUsers {
    width: 18%;
    /* padding: 0 20px 50px 20px; */
    margin-top: 68px;
    box-shadow: 5px 5px 10px grey;
    border-right: 1px solid grey;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    position: fixed;
    margin-right: auto;
}

.messages {
    width: 65%;
    padding: 20px;
    padding-bottom: 50px;
    margin-top: 68px;
    overflow: hidden;
    overflow-y: auto;
    margin-left: auto;
}

#listMsgs {
    list-style: none;
    display: table-cell;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    /* margin-top: 68px; */
}

#listMsgs li {
    display: flex;
    align-items: center;
}

#listMsgs .messageDIV {
    border: 1px solid black;
    width: fit-content;
    border-radius: 10px;
    padding: 5px;
    margin: 5px 0;
}

.active {
    background-color: lightgray;
}

.others {
    background-color: goldenrod;
}

.sender {
    text-transform: uppercase;
    margin: 5px;
    font-weight: 600;
    width: 20%;
}

.message {
    /* font-weight: 600; */
    width: 80%;
}

#listMsgs button {
    background-color: firebrick;
    color: white;
    width: 50px;
    border: 0;
    border-radius: 4px;
    margin: 0 5px;
    height: 25px;
    cursor: pointer;
}

#listMsgs button:hover {
    background-color: darkred;
}

.box {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 60%;
}

.box input[type=text] {
    width: 85%;
    padding: 10px;
    transition: 0.5s;
    outline: none;
    box-sizing: border-box;
    border: 2px solid #ccc;
    color: grey;
}

.box input[type=text]:focus {
    border: 2px solid grey;
}

.box input[type=submit] {
    width: 15%;
    padding: 10px;
    transition: 0.5s;
    outline: none;
    box-sizing: border-box;
    border: none;
    font-size: 18px;
    background: rgb(124, 116, 124);
    color: white;
    cursor: pointer;
}

.box input[type=submit]:hover {
    background: rgb(49, 46, 49);
}

#online {
    list-style: none;
    margin-top: 50px;
}

#online li {
    font-size: 18px;
    border: 1px solid green;
    padding: 10px;
    background: rgb(183, 197, 183);
    margin: 10px;
    overflow: hidden;
}

#online li::before {
    content: "";
    width:10px;
    height:10px;
    border-radius:50%;
    background: #0e7a14;
    box-shadow: 0px 0px 5px grey;
    display:inline-block;
    margin-right: 10px;
}

.onlineUsers .head {
    position: fixed;
    width: 18%;
    text-align: center;
    color: black;
    border-bottom: 1px solid gray;
    box-shadow: 0px 0px 2px black;
    padding: 5px 0;
    background: linear-gradient(140deg, rgb(204, 191, 204) 0%, whitesmoke 50%, rgb(204, 191, 204) 100%);
}

.onlineUsers .head h3 {
    padding: 5px;
}

/* Login */

.login-form input[type=text], input[type=email], input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-form input[type=submit], .login-form button {
    width: 100%;
    background: rgb(124, 116, 124);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 14px;
    font-weight: 600;
}

.login-form input[type=submit]:hover {
    background-color: rgb(49, 46, 49);
}

.login-form {
    padding: 20px;
}

.break {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

img.loginfb {
    /* width: 300px; */
    margin: 0 auto;
    display: block;
    transition: 0.5s;
    cursor: pointer;
}

img.loginfb:hover {
    opacity: 0.8;
}

#errorMsg, #errorMsgReg {
    text-align: center;
    color: red;
    font-weight: bold;
    /* padding: 10px; */
}

/* Tab */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 50%;
    font-size: 18px;
    margin-top: 68px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabContent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Scrolls */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #818B99;
    border: 2px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    border: 2px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-size: 24px;
    padding: 10px;
    background: white;
    box-shadow: 0px 0px 10px grey;
}